.about{
    background-color: #fffaf3;
    padding-top: 8vh;
}
li{
    text-decoration: none;
   
}
// why us 

.container1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-or{
    color:$orange;
}
.card-item {
    background-color:white;
    padding: 32px;
    border-radius: 15px;
    cursor: pointer;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


    span {
      display: block;
      color: $orange;
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    h4 {
      margin: 10px 0;
      
      font-size: 18px;
      font-weight: bold;

      a {
        text-decoration: none;
        color: black;
        
        
      }
    }

    

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      background-color:rgb(252, 206, 121);
    }
}
.section-title{

    padding-bottom: 5vh;
}
.bg1{
    background-color: #f9f9f9;
   
}
button{
    border: none;
    background-color: $orange;
    padding: 1vw 5vw;
    border-radius: 10px;
    color: #f9f9f9;
}
.member{
    position: relative;
}
.chef_info{
    
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
    width: 100%;
    .right_info{
        display: flex;
        gap: 14vw;
       
    }
}
// scroll top 


.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: $orange;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    
  }
//  galery 


  .gallery-item {
    overflow: hidden; 
    display: inline-block;
  
    img {
      transition: transform 0.3s ease; 
  
      &:hover {
        transform: scale(1.2);
      }
    }
  }
