.navbar{
 display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4vw;
    padding-top: 3vh;
}
   
.links {
    display: flex;
    gap: 30px;
}
    
a {
 color: white;
    text-decoration: none;
  

}
   
.home{
color: #ffb03b

}
    

.logo {
 color: white;
    font-size: 30px;
    

}
   


   


.discreption{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 90px 64px 64px 64px;
    color: white;
    p {
        padding-inline: 3vw;
    }
        
}
 



.btn{
    display: flex;
    gap: 30px;

}
    


.button{
     color: white;
    background: none;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    margin: 10px 5px;
    border: 2px solid #ffb03b;
   
}
.block{
    display: none;
}

@media (max-width: 768px) {
    .navbar{
        display: none;
    }
    .block{
        display: block;
    }
}
.btn{
    flex-direction: column;
}
   